
<style>
    @import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

    .play-regular {
      font-family: "Play", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .play-bold {
      font-family: "Play", sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    .victor-mono-light {
      font-family: "Victor Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
    .roboto-condensed-thin {
      font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
    }


        h1, h2, h3, h4, h5, h6 {
            color: #555;
            margin-bottom: 0px;
            font-family: "Play", sans-serif;
              font-weight: 700;
              font-style: normal;
        }

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.3em;
        }

        h3 {
            font-size: 1.15em;
        }

        h4 {
            font-size: 1.0em;
        }

        h5 {
            font-size: 0.83em;
        }

        body {
            margin: 0;
            padding: 0;
            font-size: 20px;
            font-family: "Roboto Condensed", sans-serif;
              font-weight: 300;
              font-style: normal;
        }

        p {
            text-indent: 25px;
        }

        b {
            font-family: "Roboto Condensed", sans-serif;
              font-weight: 500;
        }

        .mini-info {
            font-size: 0.7em;
            font-weight: 500;
            color: #555;
            font-family: "Play", sans-serif;
        }
        .body-header {
            width: 800px;
            background-color: #c2c2c2;
            margin: 0 auto;
            padding: 10px 15px;
        }

        p + ol, p + ul {
            margin-top: -15px;
        }
        ol {
            list-style-position: outside; /* Номера снаружи блока списка */
            padding-left: 0px; /* Отступ списка (номера) от левого края */
            margin-left: 0; /* Убираем возможный внешний отступ */
        }
        ul {
            list-style-position: outside; /* Номера снаружи блока списка */
            padding-left: 0px; /* Отступ списка (номера) от левого края */
            margin-left: 0; /* Убираем возможный внешний отступ */
        }
        li {
            text-indent: 0px; /* Отступ текста от номера */
            margin-left: 25px; /* Отступ текста от номера */
            margin-bottom: 5px;
        }


        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 0 15px;
        }
        .two-column-container {
            display: flex;
            justify-content: space-between; /* column dispersion */
            flex-wrap: nowrap; /* no hypen */
            max-width: 800px;
            margin: 0 auto;
            padding: 0 15px;
        }

        .column {
            width: 48%;
            box-sizing: border-box;
        }
        .container img {
            max-width: 100%;
            height: auto;
            /*margin: 1em;*/
        }
        .container figure {
            margin-inline-start: 25px;
            margin-inline-end: 25px;
            text-align: center;
            border: 2px solid #999;
        }
        .container figcaption {
            color: #555;
            font-style: italic;
            margin-top: 5px;
        }

        /* for tables */
        .container caption {
            caption-side: top; /* Устанавливает позицию над таблицей (по умолчанию) */
            text-align: right;
            font-style: italic;
            font-size: 1.0em;
            color: #555;
            margin-bottom: 10px; /* Отступ между заголовком и таблицей */
        }

        .container table {
            border-collapse: collapse; /* Для слияния границ */
            border: 3px solid #999; /* Серые границы */
            margin-left: auto; /* Прижимаем таблицу к правому краю */
            margin-right: 0;
        }

        .container th, td {
            border: 1px solid #999; /* Внутренние границы ячеек */
            padding: 8px; /* Отступы внутри ячеек */
            min-width: 5ch;
            text-align: center; /* Выравнивание текста по центру */
        }

        /* for slogan */
        .container-horizon {
            max-width: 800px;
            margin: 0 auto;
            padding: 0 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .slogan {
            display: inline-block;
            vertical-align: middle;
            font-family: "Play", sans-serif;
            font-weight: bold;
            color: #555;
        }
        .slogan p {
          text-indent: 0px;
        }

        .footnote {
            font-size: 0.9em;
            color: #555;
            margin-bottom: 10px;
        }
        .footnote a {
            margin-right: 10px;
        }

        .footer-top {
            background-color: #999;
            height: 3px;
            width: 100%;
        }
        .footer-bottom {
            background-color: #f8f8f8;
            padding: 10px;
            margin: 0;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .social-links {
            display: flex;
            align-items: center;
        }
        .social-icon {
            width: 30px;
            height: 30px;
            margin: 5px 0 0 0;
        }
        .social-buttons {
            display: flex;
            gap: 10px;
        }
        .social-button {
            width: 30px;
            height: 30px;
            background-size: cover;
            cursor: pointer;
            margin: 0 5px;
        }
        .material-icons-round {
            font-size: 30px;
            color: rgba(0, 0, 0, 0.44);
            cursor: pointer;
            margin: 0 5px;
        }
        .social-button__telegram {
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg');
        }
        .social-button__friend {
            background-image: url('http://attplus.in/common/Ipir_logow.jpg');
            background-size: cover;
            width: 50px;
        }

        /*  */
        .grey-hr {
            width: 30%;
            height: 5px;
            background-color: #dddddd;
            border: none;
            margin: 20px auto;
        }

        /* Slider custom sections */
        .swiper-container {
            width: 100%;
            height: 100vh;
        }
        .swiper-wrapper {
            display: flex;
            width: 100%;
        }
        .swiper-slide {
            /*display: flex;*/
            justify-content: center;
            align-items: center;
            max-width: 80%;
            width: 100%;
            padding: 10%;
            font-size: 0.7em;
            line-height: 1.0;
        }
        .question {
            margin-top: 10px;
            border-bottom: 5px solid #dddddd;
            padding-bottom: 10px;
        }
        .question label {
            display: block;
            font-style: italic;
            margin-bottom: 10px;
        }

        /* Collapser */
        /* Styling for all <details> elements */
        details {
            position: relative; /* Для возможности управления внутренними элементами */
            padding: 5px 10px; /* Отступы */
            background-color: #eee; /* Цвет фона */
            border-radius: 5px; /* Скругление углов */
            border: 1px solid #999; /* Граница */
        }

        /* details.long {
            position: relative;
            padding: 5px 0;
        } */

        details.long[open]>summary::after {
            display: inline-block;
            content: "▲";
            position: absolute;
            right: 5px;
            bottom: 5px;
        }

        /* Media queries for responsive design */
        @media (max-width: 800px) {
            body, .body-header, .container, .slogan {
                width: 96%;
                padding: 2%;
                font-size: 22px;
            }
            .container img {
                max-width: 100%;
                height: auto;
            }
        }
    </style>