<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
	
	<queries>
		<!-- We need to open web-links-->
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="http" />
		</intent>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="https" />
		</intent>
	</queries>
	
	<supports-screens
		android:smallScreens="false"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true" />
	
	<application
		android:name=".Utils"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_rules"
		android:configChanges="orientation|screenSize"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:hardwareAccelerated="false"
		android:icon="@mipmap/ic_launcher_round"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.SchultePlus"
		android:versionCode="36"
		android:versionName="Entada"
		tools:targetApi="33">
<!--		android:icon="@mipmap/ic_launcher"-->
<!--		.Fullscreen-->

		<activity
			android:name=".ui.SplashActivity"
			android:exported="true"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.SchultePlus.FullscreenStart"
			tools:ignore="LockedOrientationActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.MainActivity"
			android:exported="false"
			android:theme="@style/Theme.SchultePlus">
			
			<!-- android:label="@string/app_name" -->
			
			
			<!-- <intent-filter> -->
			<!-- This activity is the main entry, should appear in app launcher -->
			<!-- <action android:name="android.intent.action.MAIN" /> -->
			
			
			<!-- <category android:name="android.intent.category.LAUNCHER" /> -->
			<!-- </intent-filter> -->
		</activity>
		<activity
			android:name=".ui.LoginActivity"
			android:exported="false"
			android:theme="@style/Theme.SchultePlus.Login"
			android:windowSoftInputMode="adjustNothing" />
			
		<activity
			android:name=".ui.SignupActivity"
			android:theme="@style/Theme.SchultePlus.Login"
			android:windowSoftInputMode="adjustNothing" />
		
		<activity
			android:name=".ui.schulte.SchulteActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:exported="false"
			android:label="@string/title_activity_schulte"
			android:theme="@style/Theme.SchultePlus.FullscreenLite" />
		
		<activity
			android:name=".ui.basics.BasicsActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:exported="true"
			android:label="@string/title_activity_basics"
			android:theme="@style/Theme.SchultePlus.FullscreenLite">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</activity>
	</application>
</manifest>