<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) "Smart Rovers" 2024.
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name=".Utils"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchultePlus.Fullscreen"
        android:versionCode="19"
        android:versionName="Entada"
        tools:targetApi="33" >
        
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.SchultePlus.FullscreenStart"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SchultePlus" >
<!--            android:label="@string/app_name"-->

<!--            <intent-filter>-->
                <!-- This activity is the main entry, should appear in app launcher -->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.SchultePlus.Login"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".ui.SignupActivity"
            android:theme="@style/Theme.SchultePlus.Login"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".ui.SchulteActivity02"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_schulte"
            android:theme="@style/Theme.SchultePlus.Fullscreen" />
        <activity
            android:name=".ui.BasicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_basics"
            android:theme="@style/Theme.SchultePlus.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>